body{
    margin: 0;
    font-family: sans-serif;
    background-color:bisque;
}

#wrapper h3{
    display: flex;
    justify-content: center;
    color: rgb(203, 193, 4);
    letter-spacing: 1px;
    font-size: 25px;
}

input{
    border-radius: 5px;
    border: 2px solid black;
    margin-top: 30px;
    
    height: 2em;
    width: 300px;
    padding-left: 10px;
}

input:active{
    border: none;
}

#wrapper{
    width:400px;
    border-radius: 5px;
    padding: 30px;
    height: 500px;
    margin: 200px auto;
    background-color: black;
    
}
button{
    margin-top: 20px;
    background-color: rgb(203, 193, 4);
    border-radius: 4px;
    height: 31px;
    width: 50px;
    letter-spacing: 1px;
    border: none;
    color: rgb(2, 14, 14);
    font-weight: 600;
}
button:hover{
cursor: pointer;
}

#todoList{
    color: white;
    font-size: 28px;
    margin-top: 10px;
}

#todoList p{
    margin: 10px 0px;
}

#todoList p:hover{
    cursor: pointer;
}

p{
    font-size: 20px;
}