.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
  gap: 10px;
}
.para1{
   padding:1rem;
   background-color: aqua;
   border: 2px solid white;
   color: rgb(65, 7, 222);

}